
:root{
    /** COLORS */
    /*backgrounds */
    --body-background: rgb(31, 100, 32, 0.75);
    --trackpad-background: rgba(92, 116, 87, 0.85);
    --menu-background: rgba(38, 92, 29, 0.85);
    --title-color: rgba(255, 255, 255, 0.877);
    --gameover-background: rgba(24, 58, 18, 0.85);
    --trackpad-opacity: 65%;
    --playerimg-opacity: 85%;
    --button-background: #D6D5CB;
    /*elements */
    --button-fcolor: #1d380c;
    --button-hover-color: #63c526;
    --gameover-fcolor: white;

    /**SIZES */
    /*dimensions */
    --container-width: clamp(40rem, 90vw, 70rem);;
    --container-height: 20vh;
    --canvas-width: 30vw;

    /*fonts*/
    --title-fsize: clamp(1rem, 10vw, 3rem);
    --trackpad-fsize: 82px;
    --subtitle-fsize: clamp(.8rem, 8vw, 2rem);
    --li-gamestyle-fsize: clamp(1rem, 3vw, 1.4rem);
    --li-selected-gamestyle-fsize: clamp(1.2rem, 3.5vw, 1.8rem);

    /**DETAILS */
    --gamestyle-ffamily: "Press Start 2P", sans-serif;
    --regular-ffamily: Arial, Helvetica, sans-serif;

}


@font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.coolfont{
    font-family: var(--gamestyle-ffamily);
}
  

body{
    background: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}


#upperbox{
    order: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
    width: 100%;
}

#title{
    padding-right: 65%;
    font-size: var(--title-fsize);
}

#score{
    font-size: var(--title-fsize);
    justify-self: end;
}

.container, .subcontainer{
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    align-items: start;
    margin: 0;
    padding: 0.4rem;
    min-height: var(--container-height);
}

.subcontainer{
    margin: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#menu{
    order: 2;
    background: var(--menu-background);
}

#menu-body{
    order: 1;
}

#welcome-msg{
    font-size: var(--title-fsize);
    color: var(--title-color);
    order: 1;
    align-self: center;
}

#select-player{
    order: 2;
}

#select-player-title, #select-difficulty-title{
    font-size: var(--subtitle-fsize);
    color: var(--title-color);
    align-self: start;
    margin-left: 1rem;
    width: 100%;
}

#select-diff{
    order: 3;
}

.list{ 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    overflow: hidden;
}

li:hover, button:hover{
    cursor: pointer;
}

li{
    padding: .5rem;
}

.diff-elem{
    font-family: var(--gamestyle-ffamily);
    padding-right: 1rem;
    font-size: var(--li-gamestyle-fsize);
    color: var(--title-color);
}

#start-btn, #restart-btn{
    order: 4;
    color: var(--button-fcolor);
    font-family: var(--gamestyle-ffamily);
    font-size: var(--li-gamestyle-fsize);
    padding: 0.8rem;
    align-self: center;
    margin-bottom: 2rem;
    background-color: var(--button-background);
}

#start-btn:hover, #restart-btn:hover{
    color: var(--button-hover-color);
}

#restart-btn{
    margin-top: 2rem;
}

#game-view{
    order: 2; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -999;
    margin: 0;
}


#trackpad{
    background-color: var(--trackpad-background);
    color: whitesmoke;
    opacity: var(--trackpad-background);
    font-size: var(--trackpad-fsize);
    aspect-ratio: 1;
    display: none;
    align-items: center;
    padding: 0 5%;
    
}

#game-over{
    order: 2;
    display: none;
    z-index: 999;
    background-color: var(--menu-background);
    align-items: center;
    font-size: var(--title-fsize);
    color: var(--title-color);
    position: relative;
    top: -30rem;
}

#game-over-content{
    display: flex;
    align-items: center;
    z-index: 4;
}

#final-score{
    margin: 2rem;
}

