
:root{
    /** COLORS */
    /*backgrounds */
    --body-background: rgb(31, 100, 32, 0.75);
    --trackpad-background: rgba(92, 116, 87, 0.85);
    --menu-background: rgba(38, 92, 29, 0.85);
    --title-color: rgba(255, 255, 255, 0.877);
    --gameover-background: rgba(24, 58, 18, 0.85);
    --trackpad-opacity: 65%;
    --playerimg-opacity: 85%;
    --button-background: #D6D5CB;
    /*elements */
    --button-fcolor: #1d380c;
    --button-hover-color: #63c526;
    --gameover-fcolor: white;

    /**SIZES */
    /*dimensions */
    --container-width: clamp(40rem, 90vw, 70rem);;
    --container-height: 20vh;
    --canvas-width: 30vw;

    /*fonts*/
    --title-fsize: clamp(1rem, 10vw, 3rem);
    --wmessage-fsize: clamp(0.2rem, 2.2rem, 3rem);
    --trackpad-fsize: 82px;
    --subtitle-fsize: clamp(.8rem, 8vw, 2rem);
    --li-gamestyle-fsize: clamp(1rem, 3vw, 1.4rem);
    --li-selected-gamestyle-fsize: clamp(1.2rem, 3.5vw, 1.8rem);

    /**DETAILS */
    --gamestyle-ffamily: "Press Start 2P", sans-serif;
    --regular-ffamily: Arial, Helvetica, sans-serif;

}



@font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.coolfont{
    font-family: var(--gamestyle-ffamily);
}

html{
    margin: 0;
}
  

body{
    margin: 0;
    background: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    height: 100svh;
    overflow: hidden;
}

.wrapper{
    max-height: 90vh;
    max-height: 90svh;
    max-width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


#upperbox{
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: left;
    padding: 0 1rem;
    color: var(--title-color);
    width: 90%;
}

#title, #score{
    font-size: var(--title-fsize);
   /* margin-right: auto;*/
    padding: 0;
    margin-bottom: 0;
}


.subcontainer{
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.4rem;
    min-height: var(--container-height);
}

#menu{
    order: 2;
    background: var(--menu-background);
    max-height: 90%;
    display: flex;
    flex-direction: column;

}

#menu-body{
    order: 1;
    display: flex;
    flex-direction: column;
}

#welcome-msg{
    font-size: var(--wmessage-fsize);
    color: var(--title-color);
    order: 1;
    align-self: center;
    text-align: center;
}


#select-player{
    order: 2;
    align-self: start;
    width: 100%;
}


#select-player-title, #select-difficulty-title{
    order: 1;
    font-size: var(--subtitle-fsize);
    color: var(--title-color);
    align-self: start;

}

#select-diff{
    order: 3;
}

.list{
    order: 2;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li:hover, button:hover{
    cursor: pointer;
}

li{
    padding: .5rem;
}

.diff-elem{
    font-family: var(--gamestyle-ffamily);
    padding-right: 1rem;
    font-size: var(--li-gamestyle-fsize);
    color: var(--title-color);
}

#start-btn, #restart-btn{
    order: 4;
    color: var(--button-fcolor);
    font-family: var(--gamestyle-ffamily);
    font-size: var(--li-gamestyle-fsize);
    padding: 0.8rem;
    align-self: center;
    margin: auto;
    background-color: var(--button-background);
}

#start-btn:hover, #restart-btn:hover{
    color: var(--button-hover-color);
}

#restart-btn{
    margin-top: 2rem;
}

#game-view{
    order: 2; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto 0;
}


#trackpad{
    background-color: var(--trackpad-background);
    color: whitesmoke;
    opacity: var(--trackpad-background);
    font-size: var(--trackpad-fsize);
    aspect-ratio: 1.2;
    display: none;
    align-items: center;
    padding: 0 5%;
    
}

#game-over{
    order: 2;
    display: none;
    background-color: var(--menu-background);
    align-items: center;
    font-size: var(--title-fsize);
    color: var(--title-color);
    flex-direction: column;
    position: absolute;
    padding: 2rem;
}

#game-over-content{
    display: flex;
    align-items: center;
    z-index: 4;
}

#final-score{
    margin: 2rem;
}

.player-img{
    height: clamp(1rem, 6.5rem, 9rem);
    width: clamp(0.2rem, 5.5rem, 8rem);
    padding: 0;
    opacity: 85%;
}

@media screen and (max-width: 450px){
    .list{
        display: grid;
        grid-template-columns: repeat(2, 0.25fr);
    }
}